<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="wrapper">

       {% if app.user %}
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><i class="fas fa-tasks"></i> TaskManager</h3>
            </div>

            <ul class="list-unstyled components">
               
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inicio</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{{path('tasks')}}">Documentacion</a>
                        </li>
                        <li>
                            <a href="{{path('my_tasks')}}">Mis tareas</a>
                        </li>
                        <li>
                            <a href="{{path('task_creation')}}">Nueva tarea</a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="#">Acerca</a>
                </li>
                <li>
                    <a href="https://codexmakercompany.github.io/landingPageAngular/home">Portfolio codexmaker</a>
                </li>
                <li>
                    <a href="https://codexmakercompany.github.io/landingPageAngular/home">Contacto</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Descargar maquetado</a>
                </li>
                <li>
                    <a href="" class="article">Documentación Symfony</a>
                </li>
            </ul>
        </nav>
       {% endif %}         
        

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    
                    {% if app.user %}
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Menu</span>
                        </button>
                    {% endif %}
                    

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            
                                {% if app.user %}
                                    <li class="nav-item active">
                                    <a class="nav-link" href="{{path('tasks')}}">Inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('my_tasks')}}">Mis tareas</a>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('task_creation')}}">Crear tarea
                                            <i class="fas fa-plus-circle"></i>
                                        </a>    
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="">{{ app.user.name ~' '~ app.user.surname}}</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="{{path('logout')}}">Cerrar sesión</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                    <a class="nav-link" href="{{path('login')}}">Login</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="{{path('register')}}">Registro</a>
                                    </li>
                                {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block body %}{% endblock %}




        <!-- estos divs cierran el navbar y section del contenido -->
        
        </div>
    </div>
        {% block javascripts %}
         <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"  crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"  crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/navbar.js') }}" type="text/javascript"></script>
          
        {% endblock %}
    </body>
</html>
